#projects {
    padding-top: 130px;
}

.odd_section {
    font-size: 1.05rem;
    line-height: 1.5;
    width: 100vw;
    background: linear-gradient(to right, rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='1' stroke='hsla(39, 100%, 48%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    flex-direction: 1;
}

.even_section {
    font-size: 1.05rem;
    line-height: 1.5;
    width: 100vw;
    background: linear-gradient(to right, rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(39, 100%, 48%, 1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='1' stroke='hsla(39, 0%, 100%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

section h1 {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(90deg, rgba(247, 162, 0, 1) 0%, rgba(224, 147, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(224, 147, 0, 0.36);
    margin: 0;
}

section a {
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

section a:hover {
    transform: scale(1.05);

}

.first_container {
    display: flex;
    width: 90%;
    margin: auto;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 5rem;
    align-items: center;
    width: 40%;
}

.right_container {
    padding: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.right_container p {
    margin-bottom: 0;
}

.left_container img {
    max-width: 100%;
    max-height: 190px;
}

.tools {
    width: 50%;
    margin: 2rem auto 0 auto;
    padding: 0 0 2rem 0;
}

.tools h2 {
    text-align: center;
    margin-top: 0;
}

.tools_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.tools_list li {
    list-style: none;
    padding: 0.5rem 1rem;
    background-color: rgba(247, 162, 0, 1);
    margin: 0.3rem;
    border-radius: 5px;
    color: white;
}

#ufolep_img {
    max-height: 260px;
}

#MC_kinesio_img {
    max-height: 230px;
}

#echappeeszen_img {
    height: 140px;
}

#cpvr {
    margin: 1rem 0;
}

#calendly,
#stripe,
#lootlocker,
#geoapify,
#archery {
    color: rgba(247, 162, 0, 1);
    font-weight: 600;
}

.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.click-zoom input[type=checkbox] {
    display: none;
}

.click-zoom img {
    margin: 10px;
    max-height: 70px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
    transform: scale(1);
    max-width: 90vw;
    cursor: zoom-out;
    max-height: 90vh;
    position: relative;
}

@media screen and (max-width: 800px) {

    .odd_section,
    .even_section {
        font-weight: 600;
    }

    .first_container {
        width: 95%;
        flex-direction: column;
    }

    .left_container {
        width: 100%;
        padding: 1rem 0 0 0;
    }

    .right_container {
        width: 100%;
        padding: 0;
    }

    section h1 {
        margin-bottom: 1rem;
    }

    .left_container img {
        max-height: 150px;
    }

    .tools {
        width: 95%;
    }

    #ufolep_img,
    #MC_kinesio_img {
        max-height: 150px;
    }

    #cpvr_video {
        width: 95%;
    }
}